.dots {
    display: inline-block;
    width: 4px;
    animation: bounce 1.5s infinite;
}
.text-small {
    font-size: 0.6rem;
    opacity: 0.6;
}

.dot1 {
    animation: bounce 1.5s infinite;
}

.dot2 {
    animation: bounce 1.5s infinite;
    animation-delay: 0.2s;
}

.dot3 {
    animation: bounce 1.5s infinite;
    animation-delay: 0.3s;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3px);
    }
}
