build/bin
node_modules
frontend/dist
build
frontend/wailsjs
frontend/package-lock.json
frontend/package.json.md5
go.sum
frontend/bun.lockb
go.work.sum
go.work
package-lock.json
.idea/*
!.idea/rcb-settings.xml
start_chat.sh
.idea
.idea/rcb-settings.xml
.env
frontend/coverage
*storybook.log
frontend/src/stories
.supermaven
.nvim/.bookmarks
frontend/.nvim
.vite/vitest/results.json
frontend/src/test/.nvim/.bookmarks
frontend/pnpm-lock.yaml
frontend/__mocks__/zustand.js
frontend/.storybook/main.js