build/bin
node_modules
frontend/dist
build
frontend/wailsjs
frontend/package-lock.json
frontend/package.json.md5
go.sum
.vscode
frontend/bun.lockb
go.work.sum
go.work
package-lock.json
.idea/*
!.idea/rcb-settings.xml
start_chat.sh
.idea
.idea/rcb-settings.xml
.env
frontend/coverage
